extends layout

block layout-content
  main.content
    h1.header Notes
    a(href='/create-note').create-note Add Note
    ul.notes(id='notes')
      for note in notes
        li.notes__item 
          a(data-note-id= note._id).note
            span.note__delete
              span
            h2.note__title= note.title  
            p.note__description= note.description
  div.modal#modal
    div.loader#loader loading...
    div.modal__content#modalContent

  script.
    (async () => {
      var 
        notes = document.getElementById('notes'),
        noteDelete = document.querySelectorAll('.note__delete'),
        modal = document.getElementById('modal'),
        modalContent = document.getElementById('modalContent'),
        loader = document.getElementById('loader'),
        title, description, closing, closingSpan

      // Adding event action to each delete note icon
      for(var i = 0; i < noteDelete.length; i++) {
        noteDelete[i].addEventListener('click', function(event){
          // Avoid click on parent element
          event.stopPropagation()
          console.log('here')
          modal.classList.add('is-visible')
          title = document.createElement('h2')
          closing = document.createElement('a')
          closingSpan = document.createElement('span')

          title.innerText = 'Permanently delete your note? You cant undo this'
          title.classList.add('modal__title')

          closing.classList.add('modal__closing')
          closing.setAttribute('id', 'modalClosing')
          closing.setAttribute('href', 'javascript:void(0);')
          closing.appendChild(closingSpan)

          modalContent.appendChild(title)
          modalContent.appendChild(closing)
        })
      }

      notes.addEventListener('click', function(event){
        modal.classList.add('is-visible')
        loader.classList.add('is-visible')

        fetch(`/api/notes/${event.target.dataset.noteId}`)
        .then(function(response) {
          return response.json()
        })
        .then(function(myJson2) { 
          title = document.createElement('h2')
          description = document.createElement('p')
          closing = document.createElement('a')
          closingSpan = document.createElement('span')

          title.innerText = myJson2[0].title
          title.classList.add('modal__title')

          description.innerText = myJson2[0].description
          description.classList.add('modal__description')

          closing.classList.add('modal__closing')
          closing.setAttribute('id', 'modalClosing')
          closing.setAttribute('href', 'javascript:void(0);')
          closing.appendChild(closingSpan)

          loader.classList.remove('is-visible')
          modalContent.appendChild(title)
          modalContent.appendChild(description)
          modalContent.appendChild(closing)
        })
      })

      // Attach event to dynamic elements in javascript
      // JQuery .on() to Javascript Vanilla
      document.addEventListener('click', function(event){
        if(event.target && event.target.id == 'modalClosing') {
          modal.classList.remove('is-visible')
          modalContent.innerHTML = ''
        }
      })
    })();